.expandable-card {
    padding-top: 100%;
    margin-bottom: 32px;
    padding: 24px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  img {
    margin-bottom: 24px;
    width: 100%;
  }
  
  .bottom {
    display: none;
    padding-top: 24px;
  }
  
  p:last-of-type {
    margin-bottom: 0;
  }
  